<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CiberElectrik | Mostrar Cliente</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <h1>Listado de Clientes</h1>
        <a th:href="@{/cliente/registro}" class="btn btn-primary">Registrar Cliente</a> <a
            th:href="@{/cliente/habilita}" class="btn btn-warning">Habilitar Cliente</a> <a th:href="@{/menuprincipal}"
            class="btn btn-dark">Regresar</a>
        <div class="mb-3"></div>
        <div class="table-responsive">
            <table class="table table-striped table-hover table-bordered">
                <thead class="table-dark">
                    <tr>
                        <th>Código</th>
                        <th>Nombre</th>
                        <th>Ap. Paterno</th>
                        <th>Ap. Materno</th>
                        <th>Doc</th>
                        <th>Celular</th>
                        <th>Correo</th>
                        <th>Distrito</th>
                        <th>Sexo</th>
                        <th>Estado</th>
                        <th>Actualizar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="c : ${clientes}">
                        <td th:text="${c.codcli}"></td>
                        <td th:text="${c.nomcli}"></td>
                        <td th:text="${c.apepcli}"></td>
                        <td th:text="${c.apemcli}"></td>
                        <td th:text="${c.doccli}"></td>
                        <td th:text="${c.celcli}"></td>
                        <td th:text="${c.corcli}"></td>
                        <td th:text="${c.coddis.nomdis}"></td>
                        <td th:text="${c.codsex.nomsex}"></td>
                        <td th:text="${c.estcli ? 'Activo' : 'Inactivo'}"></td>
                        <td><a th:href="@{/cliente/actualizar/{id}(id=${c.codcli})}"
                                class="btn btn-success btn-sm">Actualizar</a></td>
                        <td><a th:href="@{/cliente/eliminar/{id}(id=${c.codcli})}"
                                class="btn btn-danger btn-sm">Eliminar</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
</body>

</html>