<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CiberElectrik | Mostrar Producto</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>

<body>
    <div clas="container">
        <h1>Listado de Productos</h1>
        <a th:href="@{/producto/registro}" class="btn btn-primary">Registrar Producto</a>
        <a th:href="@{/producto/habilita}" class="btn btn-warning">Habilitar Producto</a>
        <a th:href="@{/menuprincipal}" class="btn btn-dark">Regresar</a>
        <div class="mb3"></div>
        <!-- inicio de la tabla -->
        <div class="table-responsive">
            <table class="table table-striped table-hover table-bordered">
                <thead class="table-dark">
                    <tr>
                        <th>Código</th>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Fec. Ingreso</th>
                        <th>Precio</th>
                        <th>Cantidad</th>
                        <th>Marca</th>
                        <th>Categoría</th>
                        <th>Estado</th>
                        <th>Actualizar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="p : ${productos}">
                        <td th:text="${p.codpro}"></td>
                        <td th:text="${p.nompro}"></td>
                        <td th:text="${p.despro}"></td>
                        <td th:text="${p.fecing}"></td>
                        <td th:text="${p.prepro}"></td>
                        <td th:text="${p.canpro}"></td>
                        <td th:text="${p.codmar.nommar}"></td>
                        <td th:text="${p.codcat.nomcat}"></td>
                        <td th:text="${p.estpro ? 'Activo' : 'Inactivo'}"></td>
                        <td><a th:href="@{/producto/actualiza/{id}(id=${p.codpro})}"
                                class="btn btn-success btn-sm">Actualizar</a></td>
                        <td><a th:href="@{/producto/elimina/{id}(id=${p.codpro})}"
                                class="btn btn-danger btn-sm">Eliminar</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- fin de la tabla -->
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
</body>

</html>