<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CiberElectrik | Mostrar Producto</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <h1>Listado de Productos</h1>
        <a th:href="@{/producto/registro}" class="btn btn-primary">Registrar Producto</a>
        <a th:href="@{/producto/habilita}" class="btn btn-warning">Habilitar Producto</a>
        <a th:href="@{/menuprincipal}" class="btn btn-dark">Regresar</a>
        <div class="mb-3"></div>
        <!-- inicio de la tabla -->
        <div class="table-responsive">
            <table class="table table-striped table-hover table-bordered">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Codigo</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Descripcion</th>
                        <th scope="col">Fec. Ingreso</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Marca</th>
                        <th scope="col">Categoria</th>
                        <th scope="col">Estado</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="pro : ${listarproducto}">
                        <th scope="row" th:text="${pro.codigo}"></th>
                        <td th:text="${pro.nombre}"></td>
                        <td th:text="${pro.descripcion}"></td>
                        <td th:text="${#temporals.format(pro.fechaingreso,'dd/MM/yyyy')}"></td>
                        <td th:text="'S/. '+${#numbers.formatDecimal(pro.precio,1,2)}"></td>
                        <td th:text="${pro.cantidad}"></td>
                        <td th:text="${pro.marca.nombre}"></td>
                        <td th:text="${pro.categoria.nombre}"></td>
                        <td th:text="${pro.estado} ? 'Habilitado':'Deshabilitado'"></td>
                        <td><a th:href="@{/producto/actualiza/{id}(id=${pro.codigo})}"
                                class="btn btn-success">Actualizar</a></td>
                        <td><a th:href="@{/producto/eliminar/{id}(id=${pro.codigo})}"
                                class="btn btn-danger">Eliminar</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- fin de la tabla -->
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
</body>

</html>